@font-face {
    font-family: MuseoSansCyrl-700 ;
    src: url('../../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-500.woff');
    src: url('../../fonts/Museo-Sans-Cyrl/museosanscyrl-500.woff2')
    src: url('../../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-700.woff'),
    src: url('../../fonts/Museo-Sans-Cyrl/museosanscyrl-700.woff2'),
    src: url('../../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-500.woff'),
    src: url('../../fonts/Museo-Sans-Cyrl/MuseoSansCyrl-900.woff'),
    src: url('../../fonts/Museo-Sans-Cyrl/museosanscyrl-900.woff2'),
            
}



