.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #36BA5F;
    border-radius: 12px;
    border: none;
    width: 224px;
    height: 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF
}
.button img{
    margin-right: 8px;
    transform: translateY(-1px);
}
.button:hover{
    transform: translate(-5px, -5px);
    transition: all 0.5s;
}