.header{
    max-width: 1200px;
    height: 306px;
    margin: 0 auto;
    background: #93BBEA;
    margin-top: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 82px;
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 306px;
    max-width: 1200px;
    background-image: url('../../img/section-1-bg.png');
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}
.header__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;    
    color: #FFFFFF;
}
.header__subtitle{
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;    
    text-align: center;
    color: #FFFFFF;
    margin-top: 4px;
    max-width: 535px;
    margin-bottom: 40px;
}
