.owl-carousel{
    max-width: 1200px;
    max-height: 160px;
    background: #fff;
    position: relative;
}
.owl-carousel .owl-item img {
    width: 104px;
    height: 160px;
}
.owl-carousel button .owl-prev{
    display: none;
    z-index: -1;
}
.owl-prev{
    display: none;
}
.owl-dots {
    display: none;
}
.owl-carousel .owl-nav button.owl-next{
    background: #fff;
}
.owl-next{
    position: absolute;
    width: 44px;
    height: 44px;
    background: #fff;
    background-image: url('../../img/slider-arrow.svg');
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    right: 0;
    top: 58px;
    z-index: 9;
}
.owl-next:hover { 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.09);
    transition: all 0.5s;
    }